{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
{% endblock %}

{% block title %}Catalog{% endblock %}

{% block navbar %}
    <div class="navbar-header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header col-sm 9 col-xs-12">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right col-sm-3 col-xs-12">
{#                        {% if session.username %}#}
                          {% if current_user.is_authenticated %}
                            <p>
                                Signed in: {{ current_user.username }}
                                <img class="image-tn" src="{{ session.picture }}">
                            </p>
                            <a href="{{ url_for('auth.logout') }}">Sign Out</a>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}">Log In</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        <ul class="flashes col-sm-12">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endwith %}

    {% block page_content %}{% endblock %}

{% endblock %}