{% extends "bootstrap/base.html" %}

{% block title %}Catalog{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if session.username %}
                    <p>Signed in as: {{ session.username }}</p>
                    <a href="{{ url_for('auth.logout') }}">Sign Out</a>
                {% else %}
                    <a href="{{ url_for('auth.showLogin') }}">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}

{% endblock %}